html {
  scroll-behavior: smooth;
}

body {
  max-width: 320px;
  margin: auto;
}

main {
  background-color: #D0f1ae;
  text-align: center;
}

h1 h2 {
  font-size: 24px;
  font-family: sans-serif;
}

header {
  background-image: url(../img/header.webp);
  padding: 30px;
  padding-bottom: o;
  border-top: solid 8px #7db96f;
  display: flex;
  flex-direction: column;
  font-size: 17px;
}

.title-container {
  background-color: white;
  padding: 20px 60px;
  margin-bottom: 29px;
  opacity: 90%;
}

.button-product {
  text-align: center;
  background-color: #7db96f;
  padding: 14px 22px;
  margin-bottom: 18px;
  border-radius: 12px;
}

.button-contact {
  text-align: center;
  background-color: white;
  padding: 14px 22px;
  border-radius: 12px;
}

.button-contact a {
  color: #7db96f;
  text-decoration: none;
}

.button-product a {
  color: white;
  text-decoration: none;
}

.introduction {
  background-color: white;
  padding: 70px 50px;
  font-size: 17px;
  text-align: center;
}

.introduction h1 {
font-size: 24px;
}

.container-fruits {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}

.container-fruits img {
  width: 28px;
}
 .article-container {
   background-color: #7db96f;
   padding: 45px 30px;
 }

 .article-banana,
 .article-kiwi,
 .article-coffee,
 article-strawberry {
   color: black;
   text-align: left;
   padding: 40px 35px;
   padding-bottom: 30px;
   border-radius: 20px;
   margin-bottom: 40px;
 }

 .article-banana {
   background-color: #fcf7d6;
 }

 .article-coffee {
   background-color: #cdc4b0;
 }

 .article-kiwi {
   background-color: #d0f1ae;
 }

 .article-strawberry {
   background-color: #e2a3b1;
 }

img {
  width: 100%;
}

.introduction-kiwi {
  padding-top: 30px;
  padding: 50px;
  text-align: center;
}

.kiwi-image-intro {
  background-color: white;
  padding: 40px;
  margin: 30px 50px;
  width: 35%;
  border-radius: 50%;              
}

.post-info-kiwi {
  background-color: #7db96f;
  padding: 96px 50px;
  color: white;
}

.more-product {
  background-color: #d0f1ae;
  color: black;
  padding: 30px;
  padding-bottom: 50px;
}

more-product h1 {
  font-size: 16px;
}

.product-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 30px;
}

.product-coffee {
  background-color: #cdc4b0;
  width: 35%;
}

.product-strawberry {
  background-color: #e2a3b1;
  width: 35%;
}

.product-coffee,
.product-strawberry {
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 0 10px 7px #0000004a;
  margin: 30px 0;
}

.duo-product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer {
  text-align: center;
  padding: 42px 50px;
  color: #7db96f;
  font-size: 17px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-contact {
  background-color: white;
  max-width: 150px;
  margin-bottom: 44px;
}

.button,
.button-contact {
  background-color: #7db96f;
  padding: 14px 22px;
  border-radius: 12px;
  text-align: center;
  color: white;
  text-decoration: none;
  margin-bottom: 18px; 
}