html {
  scroll-behavior: smooth;
}

body {
  max-width: 320px;
  margin: auto;
}
∏
.container_fruits {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}

.container_fruits img {
  width: 28px;
}

header {
  background-image: url("../img/header.webp")
}

header div {
  background-color: white;
  padding: 30px 58px 29px 58px;
  margin-bottom: 33;
}

.product-page {
  background-color: #7db96f;
}
