html {
  scroll-behavior: smooth;
}

body {
  max-width: 320px;
  margin: auto;
}

h1 h2 {
  font-size: 24px;
  font-family: sans-serif;
}

header {
  background-image: url(../img/header.webp);
  padding: 30px;
}

.title-container {
  background-color: white;
  padding: 30px 58px 29px 58px;
  margin-bottom: 29px;
  opacity: 90%;
}

.button-product {
  text-align: center;
  text-decoration: none;
  background-color: #7db96f;
  color: aliceblue;
  padding: 14px 22px;
  margin-bottom: 18px;
  border-radius: 12px;
}

.button-contact {
  text-align: center;
  text-decoration: none;
  background-color: white;
  color: #7db96f;
  padding: 14px 22px;
  border-radius: 12px;
}

.container-fruits {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}

.container-fruits img {
  width: 28px;
}

.product-page {
  background-color: #7db96f;
}
